#destaque {
    margin: 0 -2px;
}

#destaqueInferior {
    display: flex;
    flex-wrap: wrap;
}

#destaqueInferior a {
    width: 100%;
}


.mainCardHeader{
    font-size: 3em;
}

@media (min-width: 768px) {
    #destaqueInferior a {
        width: 50%;
    }
}

@media (min-width: 993px) {
    #destaqueInferior a {
        width: 33%;
    }
}