.categoryWrapper {
    display: flex;
    height: 150px;
    width: 50%;
    align-items: center
}

.cwImg {
    height: 150px;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 2px;
    border-radius: 10px;
    width: 150px;
}

@media (max-width: 1200px) {
    .categoryWrapper {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .categoryWrapper {
        display: flex
    }

    .cwImg {
        width: 120px;
        height: 120px;
        margin-right: 10px
    }

    .cwHeader {
        font-size: 1rem
    }
}