.categoryWrapper {
    display: inline-block;
    height: 200px;
}

.cwImg {
    height: 200px;
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 2px;
    border-radius: 10px;
    max-width: 220px;
    display: inline;
}

.cwHeader {
    display: inline;
    
}